@if (ViewBag.error != null)
{
    <div role="alert" style="z-index:3" class="notification toast show bg-danger z-3">
        <div class="toast-body">
            @ViewBag.error
        </div>
    </div>
}

<form method="post" action="@Url.Action("Create")">
    <input type="hidden" name="i_nr" value="@ViewBag.i_nr" />
    <label class="form-label">
        Start date:
        <input class="form-control" type="date" name="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
    </label>
    <label class="form-lable">
        End date:
        <input class="form-control" type="date" name="end_date" value="@DateTime.Today.AddDays(7).ToString("yyyy-MM-dd")" />
    </label>
    <label class="form-lable">
        CodeType:
        <input class="form-control" type="text" name="codetype" />
    </label>
    <fieldset>
        <legend>Region</legend>
        <label class="form-lable">
            Region name:
            <input class="form-control" type="text" name="region_name" />
        </label>
        <label class="form-lable">
            Region terrain:
            <input class="form-control" type="text" name="region_terrain" />
        </label>
    </fieldset>
    <a class="btn btn-danger" href="@Url.Action("Index", "Incident")">Cancel</a>
    <button class="btn btn-success">Create</button>
</form>